apps/vendor/
apps/node_modules/
apps/public/build/
apps/.env
apps/storage/logs/*.log
apps/storage/framework/cache/data/
apps/storage/framework/sessions/
apps/storage/framework/views/
apps/.phpunit.cache/
*.DS_Store
Thumbs.db
